.task {
  background-color: #fff9b1;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 170px;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.task-footer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.task-footer > p {
  margin: 0;
}

.task-text {
  flex: 1;
  resize: none;
  background-color: transparent;
  /* new stuff
  overflow: hidden;
  width: 100%;
  height: 100%; */
  font-size: 1rem;
  line-height: 1.875rem;
  outline: none;
  border: none;
}

.delete-icon {
  cursor: pointer;
  width: 15px;
}

.task:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
